<div class="blog_wrapper">
          <div class="padding-global">
            <div class="blog_layout">
              <div class="blog_item"><img src="{{ 'Mask-group.webp' | asset_url }}" loading="lazy" alt="" sizes="100vw" srcset="{{ 'Mask-group-p-500.webp' | asset_url }} 500w, {{ 'Mask-group-p-800.webp' | asset_url }} 800w, {{ 'Mask-group-p-1080.webp' | asset_url }} 1080w, {{ 'Mask-group.webp' | asset_url }} 1402w" class="blog_item_image">
                <h2 class="blog_item_heading text-size-large text-style-allcaps">The Distillery</h2>
                <p class="blog_item_paragraph">At our 100% family-owned artisan distillery, we make vodka in small batches from organic grapes, infused with whole organic ingredients.<br></p>
                <a id="w-node-f0330c79-592f-64c7-8463-c4f62e577b27-2e577b27" data-wf--button--variant="base" href="{{ section.settings.url_link }}" class="button w-button"> {{ section.settings.text_button_text }} </a>
              </div>
              <div class="blog_item"><img src="{{ 'Mask-group-1.webp' | asset_url }}" loading="lazy" alt="" sizes="100vw" srcset="{{ 'Mask-group-1-p-500.webp' | asset_url }} 500w, {{ 'Mask-group-1-p-800.webp' | asset_url }} 800w, {{ 'Mask-group-1-p-1080.webp' | asset_url }} 1080w, {{ 'Mask-group-1.webp' | asset_url }} 1400w" class="blog_item_image">
                <h2 class="blog_item_heading text-size-large text-style-allcaps">Sustainability</h2>
                <p class="blog_item_paragraph">At our 100% family-owned artisan distillery, we make vodka in small batches from organic grapes, infused with whole organic ingredients.<br></p>
                <a id="w-node-f0330c79-592f-64c7-8463-c4f62e577b27-2e577b27" data-wf--button--variant="base" href="{{ section.settings.url_link }}" class="button w-button"> {{ section.settings.text_button_text }} </a>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Blog",
    "class": "blog_section",
    "settings": [
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Explore More"
        },
        {
            "id": "url_link",
            "type": "url",
            "label": "Link"
        }
    ],
    "presets": [
        {
            "name": "Blog",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}