<div class="blog_wrapper">
          <div class="padding-global">
            <div class="blog_layout">
              {% for block in section.blocks %}
    {% if block.type == "blog-block" %}
                    <div li-block="Blog Block" class="blog_block">
                                    
                
                                    <div class="blog_liquify-article_settings">{% assign article = articles[block.settings.article_article] %} 
                  <div class="blog_item"><img src="{{ article.image | img_url: 'master' | placeholder: 'detailed-apparel-1' }}" loading="lazy" li-object:src="article.image | img_url: 'master' | placeholder: 'detailed-apparel-1'" alt="" class="blog_item_image">
                    <h2 li-object="article.title" class="blog_item_heading text-size-large text-style-allcaps">{{ article.title }}</h2>
                    <div class="blog_item_paragraph">
                      <p li-object="article.excerpt" class="blog_item_paragraph">{{ article.excerpt }}</p>
                    </div>
                    <div data-wf--button-2--variant="expanded-link" class="button w-variant-ef1e1ef6-6c42-592a-75e0-6747891b3360">
                      <p>
{{ block.settings.text_button_text }}
</p>
                      <a href="{{ block.settings.url_link }}" class="button_link w-inline-block"> </a>
                      {% if article.url %}    <div li-if="article.url" class="absolute-wrapper w-variant-ef1e1ef6-6c42-592a-75e0-6747891b3360">
    
                        <a li-object:href="article.url" href="{{ article.url }}" class="button_link w-inline-block"></a>
                          </div>
{% endif %}
                    </div>
                  </div>
                </div>
                                    
              
                            </div>
            {% endif %}
{% endfor %}
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Blog",
    "class": "blog_section",
    "blocks": [
        {
            "name": "Blog Block",
            "type": "blog-block",
            "settings": [
                {
                    "id": "article_article",
                    "type": "article",
                    "label": "Article"
                },
                {
                    "id": "text_button_text",
                    "type": "text",
                    "label": "Button Text",
                    "default": "Shop Now"
                },
                {
                    "id": "url_link",
                    "type": "url",
                    "label": "Link"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Blog",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "blog-block"
                }
            ]
        }
    ]
} {% endschema %}