<div class="diary_wrapper">
          <div id="w-node-_5e35ccef-ec6a-98f4-2f48-1b69cef2eb09-35b5186b" class="diary_layout">
            <div class="w-layout-vflex margin-bottom margin-xlarge">
              <h2 class="diary_heading text-size-large text-style-allcaps">The Diary</h2>
            </div>
            <div class="diary_items_layout">
              <div id="w-node-_5e35ccef-ec6a-98f4-2f48-1b69cef2eb0e-35b5186b" class="diary_item"><img src="{{ 'image-31.webp' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'image-31-p-500.webp' | asset_url }} 500w, {{ 'image-31-p-800.webp' | asset_url }} 800w, {{ 'image-31.webp' | asset_url }} 1038w" alt="" class="diary_item_image">
                <h3 class="diary_item_heading">Spring steps on to the farm</h3>
                <a href="#" class="diary_item_link w-inline-block"></a>
              </div>
              <div id="w-node-_5e35ccef-ec6a-98f4-2f48-1b69cef2eb13-35b5186b" class="diary_item"><img src="{{ 'image-31.webp' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'image-31-p-500.webp' | asset_url }} 500w, {{ 'image-31-p-800.webp' | asset_url }} 800w, {{ 'image-31.webp' | asset_url }} 1038w" alt="" class="diary_item_image">
                <h3 class="diary_item_heading">A very special Cask</h3>
                <a href="#" class="diary_item_link w-inline-block"></a>
              </div>
              <div id="w-node-_5e35ccef-ec6a-98f4-2f48-1b69cef2eb18-35b5186b" class="diary_item"><img src="{{ 'image-31.webp' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'image-31-p-500.webp' | asset_url }} 500w, {{ 'image-31-p-800.webp' | asset_url }} 800w, {{ 'image-31.webp' | asset_url }} 1038w" alt="" class="diary_item_image">
                <h3 class="diary_item_heading">A conversation with Annie Hall</h3>
                <a href="#" class="diary_item_link w-inline-block"></a>
              </div>
              <div id="w-node-_5e35ccef-ec6a-98f4-2f48-1b69cef2eb1d-35b5186b" class="diary_item"><img src="{{ 'image-31.webp' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'image-31-p-500.webp' | asset_url }} 500w, {{ 'image-31-p-800.webp' | asset_url }} 800w, {{ 'image-31.webp' | asset_url }} 1038w" alt="" class="diary_item_image">
                <h3 class="diary_item_heading">Now Listed in The Whisky Shop</h3>
                <a href="#" class="diary_item_link w-inline-block"></a>
              </div>
              <div id="w-node-_5e35ccef-ec6a-98f4-2f48-1b69cef2eb22-35b5186b" class="diary_item"><img src="{{ 'image-31.webp' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'image-31-p-500.webp' | asset_url }} 500w, {{ 'image-31-p-800.webp' | asset_url }} 800w, {{ 'image-31.webp' | asset_url }} 1038w" alt="" class="diary_item_image">
                <h3 class="diary_item_heading">Auchter House Showcase</h3>
                <a href="#" class="diary_item_link w-inline-block"></a>
              </div>
            </div>
            <div id="w-node-_5e35ccef-ec6a-98f4-2f48-1b69cef2eb27-35b5186b" class="margin-vertical margin-xlarge">
              <a id="w-node-f0330c79-592f-64c7-8463-c4f62e577b27-2e577b27" data-wf--button--variant="dark" href="#" class="button w-variant-d7c74874-d81d-8c57-eccd-cec55a1b1e41 w-button">Read More</a>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Diary",
    "class": "diary_section",
    "presets": [
        {
            "name": "Diary",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}