<div class="padding-global">
          <div class="container-large"></div>
        </div>
        <div class="hero_grid-text_layout">
          <div class="hero_grid-text_text">Modern<br>Spirits</div>
          <div class="hero_grid-text_text">Bottled<br>in Turriff</div>
          <div class="hero_grid-text_text">Product<br>of Scotland</div>
          <div class="hero_grid-text_text">Proudly<br>by Balmaud</div>
        </div>
        <div class="holding-hero_bottom_layout">
          <h2 id="w-node-_4b1534fc-a620-5bf7-88cf-362885a23e4f-946dd468" class="holding-hero_bottom_heading">NEW SCHOOL DISTILLERS<br>OLD SCHOOL FARMERS</h2>
          <div id="w-node-_0af6ad9a-4771-6c3d-4083-919b4150854e-946dd468" class="holding-hero_form_wrapper">
            <h1 class="holding-hero_form_heading">Take a seat at our table</h1>
            <div class="holding-hero_form_paragraph">From grain to glass, we remain committed to the land we farm and the quality we craft. There are no shortcuts, just dedication. Bringing a new vision to an age-old craft, we marry time-honoured techniques with innovative thinking to create whisky that transcends eras. We welcome you to join in our journey.<br><br>to stay up to date with events, information and product launches please sign up below</div>
            <div class="holding-hero_form_block w-form">
              <form id="email-form" name="email-form" data-name="Email Form" action="https://f117ef4c.sibforms.com/serve/MUIFADLhFILOFIEKm72p8I2UP6sZosAShVw3FKyBlxz4wH5htWj8ly7dAMBVsy-jrGTzv-RBZnS33sa84LoenKELWLgCG6jZStOlhpuKF0zGfLi2tt-cBY5_oxrktYfWAousfTpBogpHRAMuzo95wrDns-GWljR0b7ETbHhaCzgGYHz0ApHdL7m_MyVn1uXKKkYos98puCWyt0eq" method="post" class="holding-hero_form_form" data-wf-page-id="675c6140230093d4946dd468" data-wf-element-id="56b2a715-3386-907e-f311-528749d54d57"><input class="holding-hero_form_field w-input" maxlength="256" name="FIRSTNAME" data-name="FIRSTNAME" placeholder="Name" type="text" id="FIRSTNAME" required=""><input class="holding-hero_form_field w-input" maxlength="256" name="EMAIL" data-name="EMAIL" placeholder="Email" type="email" id="EMAIL" required="">
                <div class="margin-top margin-small"><input type="submit" data-wait="Please wait..." class="button w-button" value="Sign Up"></div>
              </form>
              <div class="success-message w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="error-message w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="hero_background_wrapper">{% if section.settings.image_hero_image %}
{{ section.settings.image_hero_image | image_url: width: 1000 | image_tag: class: 'hero_background-content hide-tablet', sizes: '100vw', loading: 'lazy' }}
{% else %}
<img class="hero_background-content hide-tablet" src="{{ 'BALMAUD_TASTING_WIDE-copy.webp' | asset_url }}" alt="" sizes="100vw" loading="lazy" srcset="{{ 'BALMAUD_TASTING_WIDE-copy-p-500.webp' | asset_url }} 500w, {{ 'BALMAUD_TASTING_WIDE-copy-p-800.webp' | asset_url }} 800w, {{ 'BALMAUD_TASTING_WIDE-copy-p-1080.webp' | asset_url }} 1080w, {{ 'BALMAUD_TASTING_WIDE-copy-p-1600.webp' | asset_url }} 1600w, {{ 'BALMAUD_TASTING_WIDE-copy-p-2000.webp' | asset_url }} 2000w, {{ 'BALMAUD_TASTING_WIDE-copy-p-2600.webp' | asset_url }} 2600w, {{ 'BALMAUD_TASTING_WIDE-copy-p-3200.webp' | asset_url }} 3200w, {{ 'BALMAUD_TASTING_WIDE-copy.webp' | asset_url }} 3840w">
{% endif %}{% if section.settings.image_hero_image_mobile %}
{{ section.settings.image_hero_image_mobile | image_url: width: 1000 | image_tag: class: 'hero_background-content show-tablet', sizes: '100vw', loading: 'lazy' }}
{% else %}
<img class="hero_background-content show-tablet" src="{{ 'BALMAUD_TASTING_WIDE-copy.webp' | asset_url }}" alt="" sizes="100vw" loading="lazy" srcset="{{ 'BALMAUD_TASTING_WIDE-copy-p-500.webp' | asset_url }} 500w, {{ 'BALMAUD_TASTING_WIDE-copy-p-800.webp' | asset_url }} 800w, {{ 'BALMAUD_TASTING_WIDE-copy-p-1080.webp' | asset_url }} 1080w, {{ 'BALMAUD_TASTING_WIDE-copy-p-1600.webp' | asset_url }} 1600w, {{ 'BALMAUD_TASTING_WIDE-copy-p-2000.webp' | asset_url }} 2000w, {{ 'BALMAUD_TASTING_WIDE-copy-p-2600.webp' | asset_url }} 2600w, {{ 'BALMAUD_TASTING_WIDE-copy-p-3200.webp' | asset_url }} 3200w, {{ 'BALMAUD_TASTING_WIDE-copy.webp' | asset_url }} 3840w">
{% endif %}
          
          <div style="background:{{section.settings.background-color}}" class="hero_background_overlay"></div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Holding-Hero",
    "class": "section_holding-hero",
    "settings": [
        {
            "id": "image_hero_image",
            "type": "image_picker",
            "label": "Hero Image"
        },
        {
            "id": "image_hero_image_mobile",
            "type": "image_picker",
            "label": "Hero Image Mobile"
        },
        {
            "type": "header",
            "content": "background-color"
        },
        {
            "type": "color_background",
            "id": "background-color",
            "label": "Background Color",
            "default": "#EDEDE9"
        }
    ],
    "presets": [
        {
            "name": "Holding-Hero",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}