<div balmaud-animation="nav-colour-swap" class="hero_wrapper">
          <div class="hero_layout">
            <div id="w-node-_3b12c9a1-675a-1657-7b90-869b9b64ce73-b972f49a" class="hero_info_layout">
              <h1 balmaud-animation="split-fade-in" data-stagger="0.05" id="w-node-_3b12c9a1-675a-1657-7b90-869b9b64ce76-b972f49a" class="hero_heading heading-style-h1">
{{ section.settings.text_heading }}
</h1>
              <div id="w-node-_39410b78-9b1c-c55d-1116-ca9ce790afed-b972f49a" class="hero_info_bottom_layout">
                <p class="hero_info_paragraph text-color-white">
{{ section.settings.text_paragraph }}
</p>
                <div data-wf--button-2--variant="base" class="button">
                  <p>
{{ section.settings.text_button_text }}
</p>
                  <a href="{{ section.settings.url_link }}" class="button_link w-inline-block"> </a>
                </div>
              </div>
            </div>
            <div id="w-node-_3b12c9a1-675a-1657-7b90-869b9b64ce78-b972f49a" class="hero_detail-text_wrapper">
              <p class="hero_detail-text">Single estate distillery</p>
              <p class="hero_detail-text">Single estate distillery</p>
              <p class="hero_detail-text">Single estate distillery</p>
            </div>{% if section.settings.checkbox_show_bottle == true %}
<img class="hero_bottle_image" src="{{ 'HERO_BOTTLE.webp' | asset_url }}" alt="" sizes="(max-width: 767px) 100vw, 530.9896240234375px" id="w-node-b1c99b58-305b-b9b1-9557-f679258ad671-b972f49a" loading="lazy" srcset="{{ 'HERO_BOTTLE-p-500.webp' | asset_url }} 500w, {{ 'HERO_BOTTLE.webp' | asset_url }} 531w">
{% endif %}
          </div><img class="hero_background-content" src="{{ 'image-30.webp' | asset_url }}" balmaud-animation="content-fade-in" alt="" sizes="100vw" loading="lazy" srcset="{{ 'image-30-p-500.webp' | asset_url }} 500w, {{ 'image-30-p-800.webp' | asset_url }} 800w, {{ 'image-30-p-1080.webp' | asset_url }} 1080w, {{ 'image-30-p-1600.webp' | asset_url }} 1600w, {{ 'image-30-p-2000.webp' | asset_url }} 2000w, {{ 'image-30-p-2600.webp' | asset_url }} 2600w, {{ 'image-30.webp' | asset_url }} 2880w">
        </div> {% schema %} {
    "tag": "section",
    "name": "Home Hero",
    "class": "hero_section",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Nothing Ordinary"
        },
        {
            "id": "text_paragraph",
            "type": "text",
            "label": "Paragraph",
            "default": "THE FIRST RELEASE SPIRIT FROM BALMAUD AVAILABLE NOW ONLINE. THE FIRST RELEASE SPIRIT FROM BALMAUD AVAILABLE NOW ONLINE"
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Shop Now"
        },
        {
            "id": "url_link",
            "type": "url",
            "label": "Link"
        },
        {
            "id": "checkbox_show_bottle",
            "type": "checkbox",
            "label": "Show Bottle",
            "default": true
        },
        {
            "id": "image_bottle_render",
            "type": "image_picker",
            "label": "Bottle Render"
        }
    ],
    "presets": [
        {
            "name": "Home Hero",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}