<div class="hero_wrapper">
          <div class="hero_layout">
            <div id="w-node-_3b12c9a1-675a-1657-7b90-869b9b64ce73-b972f49a" class="hero_info_layout">
              <h1 data-stagger="0.05" balmaud-animation="split-fade-in" id="w-node-_3b12c9a1-675a-1657-7b90-869b9b64ce76-b972f49a" class="hero_heading heading-style-h1">Nothing Ordinary</h1>
              <div id="w-node-_39410b78-9b1c-c55d-1116-ca9ce790afed-b972f49a" class="hero_info_bottom_layout">
                <p class="hero_info_paragraph text-color-white">THE FIRST RELEASE SPIRIT FROM BALMAUD AVAILABLE NOW ONLINE. THE FIRST RELEASE SPIRIT FROM BALMAUD AVAILABLE NOW ONLINE</p>
                <a id="w-node-f0330c79-592f-64c7-8463-c4f62e577b27-2e577b27" data-wf--button--variant="base" href="#" class="button w-button">Shop now</a>
              </div>
            </div>
            <div id="w-node-_3b12c9a1-675a-1657-7b90-869b9b64ce78-b972f49a" class="hero_detail-text_wrapper">
              <p class="hero_detail-text">Single estate distillery</p>
              <p class="hero_detail-text">Single estate distillery</p>
              <p class="hero_detail-text">Single estate distillery</p>
            </div><img src="{{ 'HERO_BOTTLE.webp' | asset_url }}" loading="lazy" id="w-node-b1c99b58-305b-b9b1-9557-f679258ad671-b972f49a" sizes="(max-width: 767px) 100vw, 530.9896240234375px" alt="" srcset="{{ 'HERO_BOTTLE-p-500.webp' | asset_url }} 500w, {{ 'HERO_BOTTLE.webp' | asset_url }} 531w" class="hero_bottle_image">
          </div><img class="hero_background-content" src="{{ 'image-30.webp' | asset_url }}" balmaud-animation="content-fade-in" alt="" sizes="100vw" loading="lazy" srcset="{{ 'image-30-p-500.webp' | asset_url }} 500w, {{ 'image-30-p-800.webp' | asset_url }} 800w, {{ 'image-30-p-1080.webp' | asset_url }} 1080w, {{ 'image-30-p-1600.webp' | asset_url }} 1600w, {{ 'image-30-p-2000.webp' | asset_url }} 2000w, {{ 'image-30-p-2600.webp' | asset_url }} 2600w, {{ 'image-30.webp' | asset_url }} 2880w">
        </div> {% schema %} {
    "tag": "section",
    "name": "Home Hero",
    "class": "hero_section",
    "presets": [
        {
            "name": "Home Hero",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}