<div class="manifesto_wrapper">
          <div class="manifesto_layout">
            <div id="w-node-_9546b04b-4705-d4d1-ddd9-1b6c150eb853-b972f49a" class="manifesto_image_wrapper"><img src="{{ 'image-31.webp' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'image-31-p-500.webp' | asset_url }} 500w, {{ 'image-31-p-800.webp' | asset_url }} 800w, {{ 'image-31.webp' | asset_url }} 1038w" alt="" class="manifesto_image is-absolute"></div>
            <p id="w-node-_9546b04b-4705-d4d1-ddd9-1b6c150eb857-b972f49a" class="manifesto_paragraph shift-left">Great whisky should be as good for our planet as it is for our customers. A new gold standard for sustainable luxury whisky making, Perfecting our product by controlling all facets of the production process, from growth to grain to glass.</p>
            <h2 id="w-node-_9546b04b-4705-d4d1-ddd9-1b6c150eb859-b972f49a" class="manifesto_heading heading-style-h4">Find your Unordinary way to drink</h2>
            <div id="w-node-_8f4e6501-85b1-45e7-a50d-e5cf10f2a6ad-b972f49a">
              <a id="w-node-f0330c79-592f-64c7-8463-c4f62e577b27-2e577b27" data-wf--button--variant="dark" href="#" class="button w-variant-d7c74874-d81d-8c57-eccd-cec55a1b1e41 w-button">Shop now</a>
            </div>
            <div id="w-node-_9546b04b-4705-d4d1-ddd9-1b6c150eb85b-b972f49a" class="manifesto_image_wrapper"><img src="{{ 'image-31.webp' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'image-31-p-500.webp' | asset_url }} 500w, {{ 'image-31-p-800.webp' | asset_url }} 800w, {{ 'image-31.webp' | asset_url }} 1038w" alt="" class="manifesto_image">
              <div class="manifesto_vertical-text_wrapper">
                <p class="manifesto_vertical-text_item">FAMILY GROWN FOR THREE<br> GENERATIONS, THIS IS OUR SPIRIT.</p>
                <p class="manifesto_vertical-text_item">NEW TO DISTILLING<br>NOT TO BARLEY</p>
                <p class="manifesto_vertical-text_item">BALMAUD DISTILLERY<br>BANFF, ABERDEEN</p>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Manifesto 2",
    "class": "manifesto_section",
    "presets": [
        {
            "name": "Manifesto 2",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}