<div class="nav_ticker_container">
          <div data-preload="" class="nav_ticker_wrapper">
            <div class="nav_ticker_text">Launching FAll 2025</div>
            <div class="nav_ticker_text">Launching FAll 2025</div>
          </div>
        </div>
        <div class="padding-global">
          <div class="nav_container w-variant-5bc79521-0627-45d0-3288-096227e51632">
            <div class="nav_wrapper">
              <a href="{{ routes.root_url }}" li-object:href="routes.root_url" class="nav_brand w-variant-5bc79521-0627-45d0-3288-096227e51632 w-nav-brand"><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 174 29" fill="none">
                  <path d="M162.352 0.474609C162.352 0.474609 174 0.474609 174 12.8359C174 28.0498 160.727 28.0894 160.727 28.0894H151.892C153.319 26.4254 153.358 23.969 153.358 23.6124V4.95161C153.358 4.59504 153.319 2.13863 151.892 0.474609H162.352ZM159.777 25.4349C161.322 25.4349 168.533 24.8406 168.533 13.7471C168.533 3.16873 160.49 3.16873 160.49 3.16873H158.667V25.4349H159.777Z" fill="currentColor"></path>
                  <path d="M142.528 0.474609H149.184C147.837 2.77254 147.837 4.99123 147.837 4.99123C147.837 4.99123 147.837 16.0054 147.837 18.858C147.837 21.7503 146.292 28.5648 137.536 28.5648C129.295 28.5648 127.512 23.4935 127.393 18.1449V4.95161C127.354 4.63465 127.354 2.13863 125.927 0.474609H134.445C133.019 2.77254 133.019 4.99123 133.019 4.99123C133.059 9.58709 133.138 13.9452 133.138 18.7788C133.138 23.652 137.021 25.5934 140.19 25.5934C143.479 25.5934 143.875 21.4333 143.875 18.9769C143.875 16.5205 143.875 4.87237 143.875 4.87237C143.875 4.3177 143.598 1.98015 142.528 0.474609Z" fill="currentColor"></path>
                  <path d="M126.754 28.0902H117.483C118.434 27.0205 118.751 25.9111 118.473 24.6829C117.8 22.1869 116.77 20.0078 116.77 20.0078H108.172L107.499 22.5435C107.063 23.9698 106.746 25.0395 106.746 25.9508C106.746 26.7035 106.984 27.3771 107.499 28.0902H100.526C102.111 26.4262 103.061 25.1187 104.012 22.5435L109.916 5.22977C110.51 3.64499 110.748 2.6545 110.748 1.74326C110.748 1.14896 110.668 0.633911 110.47 0L114.868 0L121.92 19.3343C123.188 22.385 124.416 26.3073 126.754 28.0902ZM109.084 17.3533L115.819 17.393L112.372 8.39933L109.084 17.3533Z" fill="currentColor"></path>
                  <path d="M97.2978 5.02736V23.5693C97.2978 23.5693 97.2978 25.788 98.7638 28.0859H90.9587C91.9492 26.6596 92.4642 25.1541 92.4642 23.5693V9.34589L85.1743 28.284C82.916 28.4029 81.3312 27.135 80.4992 25.3918L74.2393 10.0987V22.5392C74.2393 24.9956 74.6355 26.3426 75.7844 28.0859H69.5246C70.6735 26.2634 70.832 25.1937 70.9509 22.5392V6.05747C70.9509 3.4822 70.5547 2.21438 69.5246 0.510742H74.9524L85.095 21.1921L92.4642 0.510742H98.7638C97.2978 2.80867 97.2978 5.02736 97.2978 5.02736Z" fill="currentColor"></path>
                  <path d="M49.2888 28.0894C50.7151 26.4254 50.7547 23.969 50.7547 23.6124V4.95161C50.7547 4.59504 50.7151 2.13863 49.2888 0.474609H57.0939C55.6279 2.77254 55.6279 4.99123 55.6279 4.99123V25.4349H61.5709C62.1651 25.3953 62.7198 25.1972 63.1953 24.8406L65.612 22.9389L67.6326 28.0894H49.2888Z" fill="currentColor"></path>
                  <path d="M47.6363 28.0902H38.3653C39.3162 27.0205 39.6332 25.9111 39.3558 24.6829C38.6823 22.1869 37.6522 20.0078 37.6522 20.0078H29.0548L28.3812 22.5435C27.9454 23.9698 27.6285 25.0395 27.6285 25.9508C27.6285 26.7035 27.8662 27.3771 28.3812 28.0902H21.4082C22.993 26.4262 23.9438 25.1187 24.8947 22.5435L30.798 5.22977C31.3923 3.64499 31.63 2.6545 31.63 1.74326C31.63 1.14896 31.5508 0.633911 31.3527 0L35.7505 0L42.8027 19.3343C44.0705 22.385 45.2987 26.3073 47.6363 28.0902ZM29.966 17.3533L36.7013 17.393L33.2544 8.39933L29.966 17.3533Z" fill="currentColor"></path>
                  <path d="M15.0554 13.3906C15.0554 13.3906 20.8398 14.6188 20.8398 20.4428C20.8398 27.0989 13.3121 28.0894 8.16161 28.0894H0C1.4263 26.4254 1.46592 23.969 1.46592 23.6124V4.95161C1.46592 4.59504 1.4263 2.13863 0 0.474609H11.4104C11.4104 0.474609 18.7796 0.514231 18.7796 6.53639C18.7796 11.2907 16.3232 12.5982 15.0554 13.3906ZM6.77493 3.12912V12.9151C6.77493 12.9151 13.7876 13.8264 13.7876 6.81373C13.7876 2.6933 7.3296 3.12912 6.77493 3.12912ZM15.4516 20.6013C15.412 14.5791 10.6576 14.5395 6.77493 14.5395V25.1575C6.77493 25.1575 6.77493 25.1575 6.81455 25.1575C7.36922 25.1575 8.24085 25.2368 9.19172 25.2368C11.9255 25.2368 15.4516 24.6821 15.4516 20.6013Z" fill="currentColor"></path>
                </svg></a>
              <div class="nav_menu">
                {% for link in linklists['main-menu'].links %}    <div li-for="link in linklists['main-menu'].links">
                                    
                  
                            <a li-object="link.title" li-object:href="link.url" href="{{ link.url }}" class="nav_link">{{ link.title }}</a>
                            
                
                        </div>
{% endfor %}
              </div>
              <div class="nav_menu_background">
                <div class="nav_menu_detail-text">
                  <p class="nav_menu_detail-text_item">FAMILY GROWN FOR<br>THREE GENERATIONS</p>
                  <p class="nav_menu_detail-text_item">THIS IS OUR<br>SPIRIT</p>
                  <p class="nav_menu_detail-text_item">NEW TO DISTILLING<br>NOT TO BARLEY</p>
                </div><img src="{{ 'HARE_DETAIL.svg' | asset_url }}" loading="lazy" alt="" class="nav_menu_background_detail-image">
              </div>
              <a href="about.html" class="nav_link temporary">About</a>
              <a href="private-casks.html" class="nav_link temporary">Private CAsks</a>
            </div>
            <div class="nav_aside">
              <div class="nav_mini-cart">
                <script>
    document.addEventListener('alpine:init', () => {

    Alpine.data('handleMinicart', () => ({
        init() {
            console.log('handleMinicart init')
        },
        cart: {
            note: null,
            attributes: {},
            items: [],
            currency: window.Shopify.currency.active,
            cart_level_discount_applications: [],
            response: {
                result : {},
                show : false,
                timeout : 5000,
            },
            item_count: 0,
            total_price:0,
            total_weight: 0,
            total_discount: 0,
            original_total_price: 0,
            items_subtotal_price: 0
        },
        _abortController : null,
        initAbortController() {
            if(this._abortController) {
                this._abortController.abort('abort previous request');
            }
            this._abortController = new AbortController()
        },
        getAbortControllerSignal() {
            return this._abortController.signal
        },
        resetAbortController() {
            this._abortController = null;
        },
        toggleMiniCart() {
            console.log('(minicart.js) toggleMiniCart called');

            LiquifyHelper.handleTriggerClick();

            this.getCart();
        },

        /**
         * Get the cart data.
         */
        async getCart() {
            this.initAbortController()
            await fetch(window.Shopify.routes.root + 'cart.js', {
                method: 'GET',
                signal: this.getAbortControllerSignal(),
                headers: {'Content-Type': 'application/json'},
            })
                .then(response => response.json())
                .then(data => {
                    this.resetAbortController();

                    this.cart.item_count = data.item_count;

                    this.cart.items = data.items.map((item) => {
                        item.title = this.htmlspecialchars_decode(item.title)
                        return item
                    })


                    this.cart.total_price = data.total_price;
                    this.cart.total_weight = data.total_weight;
                    this.cart.total_discount = data.total_discount;

                    this.$dispatch('carttotalitems', data.item_count);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        },

        /**
         * @param key
         * @param quantity
         */
        increaseCartItemQuantity(key, quantity) {
            this.updateCartItemQuantity(key, parseInt(quantity) + 1);
        },

        /**
         * @param key
         * @param quantity
         */
        decreaseCartItemQuantity(key, quantity) {
            this.updateCartItemQuantity(key, parseInt(quantity) - 1);
        },

        /**
         * Update the cart item.
         *
         * @param key
         * @param quantity
         */
        updateCartItemQuantity(key, quantity) {
            this.initAbortController();
            console.log('updateCartItemQuantity(): key, quantity: ', key, quantity);
            this.cart.items.filter((product)  => {
                if(product.key === key) {
                    product.quantity = quantity
                }
            })
            let updates = {};
            updates[key] = quantity;
            fetch(window.Shopify.routes.root + 'cart/update.js', {
                method: 'POST',
                signal: this.getAbortControllerSignal(),
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ updates }),
            })
                .then(response => response.json())
                .then(data => {
                    this.resetAbortController();
                    console.log('updateCartItemQuantity(): ', data);

                    this.$dispatch('cartupdated');
                    this.$dispatch('showcartmessage', { status: data.status, message: data.message, description: data.description });
                })
                .catch((error) => {
                    console.error('Error:', error);
                    this.$dispatch('showcartmessage', { status: error?.status, message: error, description: error });
                });
        },

        /**
         * Format monetary values.
         */
        moneyFormat(value, minor = true) {
            return LiquifyHelper.moneyFormat(value, minor)
        },

        htmlspecialchars_decode(string) {
            return LiquifyHelper.htmlspecialchars_decode(string)
        },

        /**
         * Shows the minicart api message
         * @param event
         */
        showCartMessage(event) {
            //console.log("dispatched showCartMessage", event)
            if(event?.detail?.status) {
                this.cart.response.result = event.detail ?? {}
                this.cart.response.show = true
                setTimeout(() => {
                    this.cart.response.result = {};
                    this.cart.response.show = false
                }, this.cart.response.timeout ?? 5000)
            }
        },

        async returnCartItems() {
            await this.getCart();

            this.$dispatch('currentcartitems', this.cart.items);
        },

        /**
         * @deprecated
         */
        set open(open) { // deprecated use  LiquifyHelper instead
            //console.warn('Deprecated "set open" in mini_cart')
        },
        /**
         * @deprecated
         */
        get open() { // deprecated use  LiquifyHelper instead
            //console.warn('Deprecated "get open" in mini_cart')
            return false;
        },
        /**
         * @deprecated
         */
        set note(note) { // deprecated
            //console.warn('Deprecated "set note" in mini_cart')
            this.cart.note = note;
        },
        /**
         * @deprecated
         */
        get note() { // deprecated
            //console.warn('Deprecated "get note" in mini_cart')
            return this.cart.note;
        },
        /**
         * @deprecated
         */
        set attributes(attributes) { // deprecated
            //console.warn('Deprecated "set attributes" in mini_cart')
            this.cart.attributes = attributes;
        },
        /**
         * @deprecated
         */
        get attributes() { // deprecated
            //console.warn('Deprecated "get attributes" in mini_cart')
            return this.cart.attributes;
        },
        /**
         * @deprecated
         */
        set original_total_price(original_total_price) { //deprecated
            //console.warn('Deprecated "set original_total_price" in mini_cart')
            this.cart.original_total_price = original_total_price;
        },
        /**
         * @deprecated
         */
        get original_total_price() { //deprecated
            //console.warn('Deprecated "get original_total_price" in mini_cart')
            return this.cart.original_total_price;
        },
        /**
         * @deprecated
         */
        set total_price(total_price) { //deprecated
            //console.warn('Deprecated "set total_price" in mini_cart')
            this.cart.total_price = total_price;
        },
        /**
         * @deprecated
         */
        get total_price() { //deprecated
            //console.warn('Deprecated "get total_price" in mini_cart')
            return this.cart.total_price;
        },
        /**
         * @deprecated
         */
        set total_discount(total_discount) { //deprecated
            //console.warn('Deprecated "set total_discount" in mini_cart')
            this.cart.total_discount = total_discount;
        },
        /**
         * @deprecated
         */
        get total_discount() { //deprecated
            //console.warn('Deprecated "get total_discount" in mini_cart')
            return this.cart.total_discount;
        },
        /**
         * @deprecated
         */
        set total_weight(total_weight) { //deprecated
            //console.warn('Deprecated "set total_weight" in mini_cart')
            this.cart.total_discount = total_weight;
        },
        /**
         * @deprecated
         */
        get total_weight() { //deprecated
            //console.warn('Deprecated "get total_weight" in mini_cart')
            return this.cart.total_weight;
        },
        /**
         * @deprecated
         */
        set item_count(item_count) { //deprecated
            //console.warn('Deprecated "set item_count" in mini_cart')
            this.cart.total_discount = item_count;
        },
        /**
         * @deprecated
         */
        get item_count() { //deprecated
            //console.warn('Deprecated "get item_count" in mini_cart')
            return this.cart.item_count;
        },
        /**
         * @deprecated
         */
        set items_subtotal_price(items_subtotal_price) { //deprecated
            //console.warn('Deprecated "set items_subtotal_price" in mini_cart')
            this.cart.items_subtotal_price = items_subtotal_price;
        },
        /**
         * @deprecated
         */
        get items_subtotal_price() { //deprecated
            //console.warn('Deprecated "get items_subtotal_price" in mini_cart')
            return this.cart.items_subtotal_price;
        },
        /**
         * @deprecated
         */
        set products(products) {
            //console.warn('Deprecated "set products" in mini_cart')
            this.cart.items = products;
        },
        /**
         * @deprecated
         */
        get products() {
            //console.warn('Deprecated "get products" in mini_cart')
            return this.cart.items;
        },
        /**
         * @deprecated
         */
        set requires_shipping(requires_shipping) {
            //console.warn('Deprecated "set requires_shipping" in mini_cart')
        },
        /**
         * @deprecated
         */
        get requires_shipping() {
            //console.warn('Deprecated "get requires_shipping" in mini_cart')
            return false;
        },
        /**
         * @deprecated
         */
        set currency(currency) { //deprecated
            //console.warn('Deprecated "set currency" in mini_cart')
            this.cart.currency = currency;
        },
        /**
         * @deprecated
         */
        get currency() { //deprecated
            //console.warn('Deprecated "get currency" in mini_cart')
            return this.cart.currency;
        },
        /**
         * @deprecated
         */
        set cart_level_discount_applications(cart_level_discount_applications) { //deprecated
            //console.warn('Deprecated "set cart_level_discount_applications" in mini_cart')
            this.cart.cart_level_discount_applications = cart_level_discount_applications;
        },
        /**
         * @deprecated
         */
        get cart_level_discount_applications() { //deprecated
            //console.warn('Deprecated "get cart_level_discount_applications" in mini_cart')
            return this.cart.cart_level_discount_applications;
        },
        /**
         * @deprecated
         */
        set cartApiResponse(cartApiResponse) { //deprecated
            //console.warn('Deprecated "set cartApiResponse" in mini_cart')
            this.cart.cartApiResponse = cartApiResponse;
        },
        /**
         * @deprecated
         */
        get cartApiResponse() { //deprecated
            //console.warn('Deprecated "get cartApiResponse" in mini_cart')
            return this.cart.response;
        },
        /**
         * @deprecated
         */
        set total(total) { //deprecated
            //console.warn('Deprecated "set total" in mini_cart')
            this.cart.item_count = total.items;
            this.cart.total_price = total.price;
            this.cart.total_weight = total.weight;
            this.cart.total_discount = total.discount;
        },
        /**
         * @deprecated
         */
        get total() { //deprecated
            //console.warn('Deprecated "get total" in mini_cart')
            return {
                items: this.cart.item_count,
                price: this.cart.total_price,
                weight: this.cart.total_weight,
                discount: this.cart.total_discount,
            };
        }
    }))


});

</script>
<div data-hover="false" data-delay="0" li-element="mini-cart" class="nav_dropdown w-dropdown" x-data="handleMinicart()" x-init="getCart()" @cartupdated.window="getCart()" @setcartitem.window="updateCartItemQuantity($event.detail.product, $event.detail.quantity)" @increasecartitem.window="increaseCartItemQuantity($event.detail.product, $event.detail.quantity)" @decreasecartitem.window="decreaseCartItemQuantity($event.detail.product, $event.detail.quantity)" @toggleminicart.window="toggleMiniCart()" @showcartmessage.window="showCartMessage" @getcartitems.window="returnCartItems">
                  <div li-element="mini-cart-toggle" class="nav_shop-icon w-dropdown-toggle" @click="$dispatch('cartupdated.window')"><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 21 18" fill="none" class="nav_basket">
                      <path d="M16.5947 17.3032H3.63969L0 6.05322H20.2341L16.5947 17.3032ZM4.09469 16.6782H16.14L19.3753 6.67822H0.859375L4.09469 16.6782Z" fill="currentColor"></path>
                      <path d="M6.7018 0L7.28242 0.232188L4.7818 6.48156L4.20117 6.24938L6.7018 0ZM13.5324 0L16.0324 6.25L15.4518 6.4825L12.9518 0.232188L13.5324 0ZM7.30461 11.6781H12.9296V12.3031H7.30461V11.6781Z" fill="currentColor"></path>
                    </svg>
                    <div li-element="mini-cart-item-count" class="nav_shop-quantity" x-data="{ items: 0 }" x-text="items" @carttotalitems.window="items = event.detail">1</div>
                  </div>
                  <nav li-element="mini-cart-container" class="nav_mini-cart-holder w-dropdown-list" :class="open || 'mini-cart-closed'">
                    <div li-element="dropdown-toggle" class="nav_mini-cart-close" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))"></div>
                    <div class="mini-cart_component">
                      <div li-element="mini-cart-full" class="mini-cart_full" :style="total.items < 1 && { display: 'none' }">
                        <div class="mini-cart_header">
                          <div class="mini-cart_heading_wrapper">
                            <div class="mini-cart_heading">Basket</div>
                            <div li-element="mini-cart-item-count" class="mini-cart_quantity" x-data="{ items: 0 }" x-text="items" @carttotalitems.window="items = event.detail">1</div>
                          </div><button li-element="dropdown-toggle" aria-label="Close Cart" class="nav_dropdown-close-button" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))">
                            <div class="nav_dropdown-close-icon w-embed"><svg width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.84775 14.178L0.447754 12.778L6.04775 7.17798L0.447754 1.57798L1.84775 0.177979L7.44775 5.77798L13.0478 0.177979L14.4478 1.57798L8.84775 7.17798L14.4478 12.778L13.0478 14.178L7.44775 8.57798L1.84775 14.178Z" fill="currentColor"></path>
                              </svg></div>
                          </button>
                        </div>
                        <div class="mini-cart_line-item no-scrollbar">
                          <ul role="list" class="mini-cart_line-item_list w-list-unstyled">
                            <template x-for="product in products" :key="product.key">
    <li li-element="mini-cart-item" class="mini-cart_line-item_item"><img class="mini-cart_line-item_img" src="images/PRODUCT_PLACEHOLDER.webp" alt="" sizes="100vw" loading="lazy" srcset="{{ 'PRODUCT_PLACEHOLDER-p-500.webp' | asset_url }} 500w, {{ 'PRODUCT_PLACEHOLDER.webp' | asset_url }} 649w" x-bind:src="product.image">
                              <div class="mini-cart_line-item_product-info">
                                <div class="mini-cart_line-item_title_wrapper">
                                  <div li-js-object="product.title" class="text-size-regular" x-text="product.title">Highland Dry Gin</div>
                                  <div li-js-object="product.variant" x-text="product.variant">- 70cl Bottle</div>
                                </div>
                                <div id="w-node-_65d74550-f98c-160e-50c6-38dce390f575-e390f55f" class="mini-cart_line-item_price">
                                  <div li-js-price="product.price" class="text-size-small" x-text="LiquifyHelper.moneyFormat(product.price, true, '{{ shop.money_with_currency_format }}')">14,99 $</div>
                                  <template x-if="product.price < product.original_price">
            <div li-js-if="product.price < product.original_price">
        
                                    <div li-js-price="product.original_price" class="text-size-small text-style-strikethrough text-style-muted" x-text="LiquifyHelper.moneyFormat(product.original_price, true, '{{ shop.money_with_currency_format }}')">14,99 $</div>
                                          </div>
    </template>
                                </div>
                                <div id="w-node-_65d74550-f98c-160e-50c6-38dce390f57b-e390f55f" class="mini-cart_line-item_quantity">
                                  <a li-element="mini-cart-item-decrease" href="#" class="mini-cart_line-item_quantity-adjust" :productprop="product" @click="$dispatch('decreasecartitem', { product: product.key, quantity: product.quantity, action: 'decrease' })">-</a><input li-element="mini-cart-item-quantity" class="mini-cart_line-item_quantity-adjust" value="1" :productprop="product" @input="$dispatch('setcartitem', { product: product.key, quantity: product.quantity })" x-model="product.quantity">
                                  <a li-element="mini-cart-item-increase" href="#" class="mini-cart_line-item_quantity-adjust" :productprop="product" @click="$dispatch('increasecartitem', { product: product.key, quantity: product.quantity, action: 'increase' })">+</a>
                                </div>
                                <div li-element="mini-cart-item-remove" id="w-node-_65d74550-f98c-160e-50c6-38dce390f581-e390f55f" class="text-size-tiny text-color-grey" :productprop="product" @click="$dispatch('setcartitem', { product: product.key, quantity: 0 })">Remove</div>
                              </div>
                            </li></template>
                          </ul>
                          <div class="mini-cart_shipping-info_wrapper">
                            <p>Free shipping on orders over £100</p>
                          </div>
                        </div>
                        <div class="mini-cart_footer">
                          <div class="mini-cart_footer-total">
                            <div>Subtotal</div>
                            <div class="mini-cart_footer-price">
                              <div li-js-price="total.price" x-text="LiquifyHelper.moneyFormat(total.price, true, '{{ shop.money_with_currency_format }}')">14,99 $</div>
                              <template x-if="total.price < original_total_price">
            <div li-js-if="total.price < original_total_price" class="mini-cart_conditional">
        
                                <div li-js-price="original_total_price" class="text-style-strikethrough text-style-muted" x-text="LiquifyHelper.moneyFormat(original_total_price, true, '{{ shop.money_with_currency_format }}')">14,99 $</div>
                                      </div>
    </template>
                            </div>
                          </div>
                          <div li-element="mini-cart-api-response" class="mini-cart_footer-message hide">
                            <div class="mini-cart_footer-message-item">
                              <div class="text-size-regular-3 text-weight-bold-2">Message</div>
                              <div li-js-object="cartApiResponse?.result?.message" class="text-size-regular-3 text-weight-bold-2" x-text="cartApiResponse?.result?.message">14,99 $</div>
                            </div>
                          </div>
                          <a x-bind:href="'/checkout'" href="#" class="button is-dark w-button">Checkout</a>
                          <a li-object:href="routes.cart_url" href="{{ routes.cart_url }}" class="button is-dark w-button">Cart</a>
                        </div>
                      </div>
                      <div li-cloak="hide" li-element="mini-cart-empty" class="mini-cart_empty" :style="total.items && { display: 'none' }">
                        <div class="mini-cart_header">
                          <div class="mini-cart_heading">Cart</div><button li-element="dropdown-toggle" aria-label="Close Cart" class="nav_dropdown-close-button" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))">
                            <div class="nav_dropdown-close-icon w-embed"><svg width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.84775 14.178L0.447754 12.778L6.04775 7.17798L0.447754 1.57798L1.84775 0.177979L7.44775 5.77798L13.0478 0.177979L14.4478 1.57798L8.84775 7.17798L14.4478 12.778L13.0478 14.178L7.44775 8.57798L1.84775 14.178Z" fill="currentColor"></path>
                              </svg></div>
                          </button>
                        </div>
                        <div class="mini-cart_empty-content">
                          <div class="text-size-regular">You have no items in your basket</div>
                        </div>
                      </div>
                    </div>
                  </nav>
                </div>
              </div>
              <div class="nav_button w-nav-button">
                <div data-is-ix2-target="1" class="nav_button_icon w-variant-5bc79521-0627-45d0-3288-096227e51632" data-w-id="e34d1f0f-346c-3e32-a53c-9999f13df676" data-animation-type="lottie" data-src="{{ 'BMD_HAMBURGER.json' | asset_url }}" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="0" data-duration="1.04" data-ix2-initial-state="0"></div>
              </div>
              <a href="{{ section.settings.url_shop_link }}" class="nav_link hide-tablet"> Shop </a>
              <div class="w-embed">
                <style>
.burger-line path
{
fill: inherit;
}
</style>
              </div>
            </div>
          </div>
        </div>
        <div class="age-gate_component">
          <div class="w-embed">
            <style>
.age-input::placeholder {
  color: #000;
}
/* Chrome, Safari, Edge, Opera */
.age-input::-webkit-outer-spin-button,
.age-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.age-input[type="number"] {
  -moz-appearance: textfield;
}
.age-gate {       
flex-direction: column;    
align-items: center;    
justify-content: center;    
height: 100vh;    
text-align: center;  
} 
.age-form {    
margin-top: 20px;
}  
.age-input {    
padding: 10px;    
font-size: 16px;    
width: 200px;  
}  
.age-submit {    
padding: 10px 20px;    
font-size: 16px;    
margin-top: 10px;    
cursor: pointer;  
}  
.age-error {    
display: none;   
color: red;    
margin-top: 10px;  
}  
.main-content {    
display: none;    
padding: 40px;  
}
</style>
          </div>
          <div id="ageGate" class="age-gate">
            <div class="age-gate_wrapper">
              <h2 class="age-gate_heading">Enter Your Year of Birth</h2>
              <form id="ageForm" class="age-form"><input type="number" id="birthYearInput" placeholder="e.g. 1967" required="" class="age-input"><button id="submitYearButton" type="submit" class="age-submit button is-dark">Enter</button>
                <p id="errorMsg" class="age-error">You must be at least 18 years old to enter.</p>
              </form><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 174 29" fill="none" class="age-gate_logo">
                <path d="M162.352 0.474609C162.352 0.474609 174 0.474609 174 12.8359C174 28.0498 160.727 28.0894 160.727 28.0894H151.892C153.319 26.4254 153.358 23.969 153.358 23.6124V4.95161C153.358 4.59504 153.319 2.13863 151.892 0.474609H162.352ZM159.777 25.4349C161.322 25.4349 168.533 24.8406 168.533 13.7471C168.533 3.16873 160.49 3.16873 160.49 3.16873H158.667V25.4349H159.777Z" fill="currentColor"></path>
                <path d="M142.528 0.474609H149.184C147.837 2.77254 147.837 4.99123 147.837 4.99123C147.837 4.99123 147.837 16.0054 147.837 18.858C147.837 21.7503 146.292 28.5648 137.536 28.5648C129.295 28.5648 127.512 23.4935 127.393 18.1449V4.95161C127.354 4.63465 127.354 2.13863 125.927 0.474609H134.445C133.019 2.77254 133.019 4.99123 133.019 4.99123C133.059 9.58709 133.138 13.9452 133.138 18.7788C133.138 23.652 137.021 25.5934 140.19 25.5934C143.479 25.5934 143.875 21.4333 143.875 18.9769C143.875 16.5205 143.875 4.87237 143.875 4.87237C143.875 4.3177 143.598 1.98015 142.528 0.474609Z" fill="currentColor"></path>
                <path d="M126.754 28.0902H117.483C118.434 27.0205 118.751 25.9111 118.473 24.6829C117.8 22.1869 116.77 20.0078 116.77 20.0078H108.172L107.499 22.5435C107.063 23.9698 106.746 25.0395 106.746 25.9508C106.746 26.7035 106.984 27.3771 107.499 28.0902H100.526C102.111 26.4262 103.061 25.1187 104.012 22.5435L109.916 5.22977C110.51 3.64499 110.748 2.6545 110.748 1.74326C110.748 1.14896 110.668 0.633911 110.47 0L114.868 0L121.92 19.3343C123.188 22.385 124.416 26.3073 126.754 28.0902ZM109.084 17.3533L115.819 17.393L112.372 8.39933L109.084 17.3533Z" fill="currentColor"></path>
                <path d="M97.2978 5.02736V23.5693C97.2978 23.5693 97.2978 25.788 98.7638 28.0859H90.9587C91.9492 26.6596 92.4642 25.1541 92.4642 23.5693V9.34589L85.1743 28.284C82.916 28.4029 81.3312 27.135 80.4992 25.3918L74.2393 10.0987V22.5392C74.2393 24.9956 74.6355 26.3426 75.7844 28.0859H69.5246C70.6735 26.2634 70.832 25.1937 70.9509 22.5392V6.05747C70.9509 3.4822 70.5547 2.21438 69.5246 0.510742H74.9524L85.095 21.1921L92.4642 0.510742H98.7638C97.2978 2.80867 97.2978 5.02736 97.2978 5.02736Z" fill="currentColor"></path>
                <path d="M49.2888 28.0894C50.7151 26.4254 50.7547 23.969 50.7547 23.6124V4.95161C50.7547 4.59504 50.7151 2.13863 49.2888 0.474609H57.0939C55.6279 2.77254 55.6279 4.99123 55.6279 4.99123V25.4349H61.5709C62.1651 25.3953 62.7198 25.1972 63.1953 24.8406L65.612 22.9389L67.6326 28.0894H49.2888Z" fill="currentColor"></path>
                <path d="M47.6363 28.0902H38.3653C39.3162 27.0205 39.6332 25.9111 39.3558 24.6829C38.6823 22.1869 37.6522 20.0078 37.6522 20.0078H29.0548L28.3812 22.5435C27.9454 23.9698 27.6285 25.0395 27.6285 25.9508C27.6285 26.7035 27.8662 27.3771 28.3812 28.0902H21.4082C22.993 26.4262 23.9438 25.1187 24.8947 22.5435L30.798 5.22977C31.3923 3.64499 31.63 2.6545 31.63 1.74326C31.63 1.14896 31.5508 0.633911 31.3527 0L35.7505 0L42.8027 19.3343C44.0705 22.385 45.2987 26.3073 47.6363 28.0902ZM29.966 17.3533L36.7013 17.393L33.2544 8.39933L29.966 17.3533Z" fill="currentColor"></path>
                <path d="M15.0554 13.3906C15.0554 13.3906 20.8398 14.6188 20.8398 20.4428C20.8398 27.0989 13.3121 28.0894 8.16161 28.0894H0C1.4263 26.4254 1.46592 23.969 1.46592 23.6124V4.95161C1.46592 4.59504 1.4263 2.13863 0 0.474609H11.4104C11.4104 0.474609 18.7796 0.514231 18.7796 6.53639C18.7796 11.2907 16.3232 12.5982 15.0554 13.3906ZM6.77493 3.12912V12.9151C6.77493 12.9151 13.7876 13.8264 13.7876 6.81373C13.7876 2.6933 7.3296 3.12912 6.77493 3.12912ZM15.4516 20.6013C15.412 14.5791 10.6576 14.5395 6.77493 14.5395V25.1575C6.77493 25.1575 6.77493 25.1575 6.81455 25.1575C7.36922 25.1575 8.24085 25.2368 9.19172 25.2368C11.9255 25.2368 15.4516 24.6821 15.4516 20.6013Z" fill="currentColor"></path>
              </svg>
            </div>
          </div>
        </div>
        {% if section.settings.checkbox_solid_nav == true %}
<div class="nav-mode-checkbox"></div>{% endif %} {% schema %} {
    "tag": "div",
    "name": "Nav",
    "class": "nav_component w-variant-5bc79521-0627-45d0-3288-096227e51632 w-nav",
    "settings": [
        {
            "id": "url_shop_link",
            "type": "url",
            "label": "Shop Link"
        },
        {
            "id": "checkbox_solid_nav",
            "type": "checkbox",
            "label": "Solid Nav",
            "default": true
        }
    ],
    "presets": [
        {
            "name": "Nav",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}